body {
  padding: 0;
  margin: 0;
  background: linear-gradient(#55c4e2, #00ff6c);
}

.container {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(80px, auto) repeat(5, 100px);
}

.container > button {
  font-size: 2rem;
}

.reset {
  grid-column: span 2;
}

.equal {
  grid-column: span 2;
}

.zero {
  grid-column: span 2;
}

.screen-display {
  grid-column: 1 / -1;
  font-size: 35px;
  border-style: double;
  border-color: rgb(77, 77, 77);
  text-align: right;
}

.calcbutton {
  background-color: rgba(65, 78, 82, 0.856);
  color: white;
  cursor: pointer;
  outline: none;
  border-style: double;
  border-color: rgb(68, 68, 68);
}

.calcbutton:hover {
  background-color: rgb(100, 183, 211);
}
